<!-- _includes/head.html -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="referrer" content="no-referrer-when-downgrade">
  <title>{{ page.head_title | default: page.card_title}} - yoonzh.com</title>
  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="윤志" />
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#0a0a0a" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0a0a0a" />
  <link rel="manifest" href="/site.webmanifest" />
  {% if page.math %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js"
        onload="renderMathInElement(document.body);"></script>
  {% endif %}
  {% if page.circuit %}
  <script src="https://neilturley.dev/netlistsvg/elk.bundled.js"></script>
  <script src="https://neilturley.dev/netlistsvg/built/netlistsvg.bundle.js"></script>
  <script type="module" src="{{ '/scripts/circuits.js' | relative_url }}"></script>
  {% endif %}
</head>