// _sass/_circuits.scss
.circuit-container {
  position: relative;
  margin: 2rem 0;
  
  svg {
    display: block;
    overflow: hidden;
    width: auto;
    height: auto;
    border: 1px solid #eee;
    background: $code-bg;
    padding: 5px;

    path, line {
      stroke: currentColor;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    text {
      fill: currentColor;
      font-family: monospace;
    }
  }
  
  .circuit-error {
    color: #dc3545;
    border: 2px dashed currentColor;
    padding: 1rem;
  }
}