// _sass/_circuits.scss
.circuit-container {
  position: relative;
  margin: 2rem 0;
  display: block;
  flex-direction: column;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  
  svg {
    display: inline-block;
    overflow: auto;
    width: auto;
    height: auto;
    border: 1px solid #eee;
    background: $card-bg;
    padding: 5px;

    path, line {
      stroke: $text-primary;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    text {
      fill: $text-primary;
      font-family: monospace;
    }
  }
  
  .circuit-error {
    color: #dc3545;
    border: 2px dashed currentColor;
    padding: 1rem;
  }
}