// _sass/_mobile.scss
@media (max-width: 768px) { 
  .hero {
    height:40vh;
    .hero-content {
      h1 {
        font-size: 3.5rem;
      }
    }
    .hero-subtitle {
      font-size: 1.2rem;
    }
  } 

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .site-header {
    .logo-container {
      text-align: center;
      .logo {
        font-size: 2rem;
      }
      .logo-subtitle {
        font-size: 1rem;
      }
    }

    .nav-links {
      gap: 1.5rem;
      a {
        font-size: 1.2rem;
      }
    }
  }
  .page-content {
    width: 90%;
    
    h1, h2, h3 {
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens: auto;
      max-width: 100%;
    }
      
    ul, ol {
      padding-left: 1.2rem;
    }
  }
    
  .content-section {
    padding: 1.5rem 3% 3rem;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 30vh;
    .hero-content {
      h1 {
        font-size: 2.75rem;
      }
    }
    .hero-subtitle {
      font-size: 0.9rem;
    }
  }
  
  .logo-container{
    .logo {
      font-size: 2rem;
    }
    .logo-subtitle {
      font-size: 1rem;
    }
  }

  .page-content {
    .content-section {
      .section-title {
        font-size: 2rem;
        margin: 1rem 0 2rem;
      }
    }

    .article-detail {
      .article-header {
        h1 {
          font-size: 2rem;
        }
      }

      .article-content {
        h1 {
          font-size: 1.5rem;
        }
      }
    }
  }
}