// _sass/_variables.scss
$primary: #00ff9d;
$secondary: #0077ff;
$dark-bg: #0a0a0a;
$darker-bg: #050505;
$text-primary: #ffffff;
$text-secondary: #cccccc;

// Codeblocks variables
$code-bg: #2d2d2d;
$code-text:#e0e0e0;
$code-header: #1e1e1e;
$code-font: 'Source Code Pro', monospace;

// Card variables
$card-bg: #1b1b1b;
$card-hover-bg: color.adjust($darker-bg, $lightness: 10%);
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$card-border: 1px solid rgba($primary, 0.2);
$card-radius: 12px;
$card-transition: all 0.3s ease;